orig-OpenCV
orig-template-matching-ocr
OpenCVLearning
image_processing
doc-scan-ocr/leptonica-1.84.1*
doc-scan-ocr/tesseract-5.4.1*
doc-scan-ocr/imagesor
doc-scan-ocr/newfont
cv2.dnn.readNetFromCaffe/images
parkinglot-aeroview/cnn_pred_data
parkinglot-aeroview/saved_model_weight
parkinglot-aeroview/test_images
parkinglot-aeroview/train_data
parkinglot-aeroview/video
parkinglot-aeroview/with_marking*.jpg
answer_sheet/images
*.pyc
yolov5-opencv-pycpp-tensorrt
multi-object-tracking/videos
multi-object-tracking-dlib/mobilenet_ssd
search_on_2d/__pycache__
search_on_2d/book
search_on_2d/catperson
search_on_2d/catperson-test
search_on_2d/yolov5-master
search_on_2d/v5pt
search_on_2d/ultrlytics
search_on_2d/v8pt
search_on_2d/label-studio
search_on_2d/label-studio-sdk
search_on_2d/label-studio-data
search_on_2d/label-studio-ml-backend
search_on_2d/project-1-at
search_on_2d/project-1-at-split
search_on_2d/runs